   body {
      background-color: black;
      color: white;
      font-family: Arial ;
      
    }
    .title{
      font-size: 35px;
      font-weight: bold;
    }

    .move-icon{
      height: 60px;
    
    }

    .move-button{
      background-color: transparent;
      border: 3px solid white;
      height: 120px;
      width: 120px;
      border-radius: 60px;
      margin: 10px;
    }

    .result {
      font-size: 50px;
      font-weight: bold;
    }

    .score{
      margin-top: 60px;

    }

    .reset-score-button{
      background-color: white;
      border: none;
      font-size: 15px;
      font-weight: bold;
      padding: 8px 15px;
      cursor: pointer;
    }
    